@import url("https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200&family=Pacifico&family=Rajdhani:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200&family=PT+Sans+Narrow&family=Pacifico&family=Rajdhani:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200&family=PT+Sans+Narrow&family=Pacifico&family=Rajdhani:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200&family=Cedarville+Cursive&family=PT+Sans+Narrow&family=Pacifico&family=Rajdhani:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.color1 {
  background-color: pink;
}

.row {
  --bs-gutter-x: 0rem;
}

.text-center {
  margin-left: 2%;
  margin-right: 3%;
}

.nav-item a {
  display: flex;
  margin-left: 1;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
}

ul {
  display: flex;
}

li {
  display: flex;
  list-style: none;
  margin: 1rem;
  padding: 0.01rem;
}

nav a:hover {
  color: #000;
}

.text-end {
  font-family: "Cedarville Cursive", cursive;
  color: white;
}

body {
  background-color: white;
}

.hero {
  background-image: url(/Imagenes/GIGI\ FONDO.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 40px;
  color: white;
  font-family: "Abel", sans-serif;
}

.card {
  margin-left: 5%;
  margin-top: 5px;
}

.vend {
  border-top: 2%;
}

.alto {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap row;
  margin-top: 5%;
  align-content: center;
  align-items: center;
}

.new {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  margin-right: 2%;
  flex-flow: wrap row;
}

.form-group {
  color: white;
  font-size: 30px;
}

.contacto1 {
  color: pink;
  font-size: 26px;
}

.text-center {
  background-color: pink;
  margin-top: 2%;
}

.enviar {
  font-size: 20px;
  color: palevioletred;
}

.newsletter {
  text-align: left;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 28px;
  color: white;
}

.redes {
  display: flex;
  justify-content: right;
}

.lead {
  color: palevioletred;
  font-size: 25px;
}

.form {
  margin: 5%;
}

form {
  display: flex;
  justify-content: left;
}

.container-contacto {
  display: flex;
  align-content: space-evenly;
  align-items: center;
}

.telefono p {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 23px;
  font-family: "PT Sans Narrow", sans-serif;
}

.labiales img {
  padding-top: 15px;
  margin: 5px;
}

#fotos1, #fotos2, #fotos3, #fotos4, #fotos5, #fotos6, #fotos7 {
  transition: all 300ms;
  position: relative;
}
#fotos1 img:hover, #fotos2 img:hover, #fotos3 img:hover, #fotos4 img:hover, #fotos5 img:hover, #fotos6 img:hover, #fotos7 img:hover {
  transform: scale(1.15);
}

.carrusel {
  width: 600px;
  height: 1100px;
  width: 100%;
}

.carousel-inner img {
  width: 600px;
  height: 1100px;
}

.carousel-indicators li {
  height: 2px;
  width: 20px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .responsive {
    width: 100%;
  }

  .navbar {
    width: 100%;
  }
}
.btn-light {
  background-color: pink;
  color: white;
  padding: 1px solid pink;
}

.btn-light:hover {
  background-color: white;
  color: pink;
}

.margin {
  display: flex;
  margin: 2%;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .gigi {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1880px) {
  .gigi {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .tuto {
    font-size: 18px;
    margin: 5px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1880px) {
  .tuto {
    font-size: 20px;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .carrusel {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 5% !important;
    height: 200px !important;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
  }
  .carrusel .carousel-item img {
    height: 100%;
    width: 100%;
  }
}
.fotocontacto img {
  display: flex;
}

.mapa--borde1 {
  background-color: white;
  height: 300px;
  width: 300px;
  display: flex;
  margin-left: 10%;
  border: 5px double palevioletred;
  align-content: center;
}

.mapa--borde2 {
  background-color: white;
  height: 300px;
  width: 300px;
  display: flex;
  margin-left: 10%;
  border: 5px double #f5a6c7;
  align-content: center;
}

.carrusel {
  width: 1200px;
  height: 1100px;
  margin-left: 20%;
}

footer h2 {
  margin-left: 2%;
}
footer .col-md-2 {
  margin-left: 2%;
}

.derechos {
  font-family: "Abel", sans-serif;
  margin-left: 2%;
}

.videos {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}

.videos iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  margin-left: 2%;
  border: 3px solid palevioletred;
}

/*# sourceMappingURL=estilos.css.map */
